


#carouselExampleCaptions{
    position: relative;
}
.discover{
    position: absolute;
    top: 150px;
    color: whitesmoke;
    margin: 120px;
    /* font-size: 12px; */
}

.carousel-item img{
    object-fit: fill;
}

.man{
    background-color: gray;
}

.shoe{
    padding: 10px;
}

.featured{
    border-bottom: 5px solid green;
    width: fit-content;
    margin: auto;
    /* margin: 10px; */
}



@media(max-width:520px){
    .discover{
        position: absolute;
        top: 150px;
        color: whitesmoke;
        margin: 120px;
        font-size: 5px;
        /* font-size: 12px; */
    }
}

@media(max-width:767px){
    .man2 div{
        flex-wrap: wrap;
    }
}
@media(max-width:767px) {
    .man101 h4{
        flex-wrap: wrap;
        /* font-size: small; */
    }
}
@media(max-width:767px) {
    .man102 img{
        flex-wrap: wrap;
        height: 60%;
        width: 250px;
        /* font-size: small; */
    }
}